<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">QA_Portal</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'new-question' %}">PostQuestion <span class="sr-only">(current)</span></a></li>



          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="active"><a href="">Welcome:{{user.username}} <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a></li>
              <li class="active"></li>

              {% else %}

              <li class="active"><a href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a></li>

            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% block body_block %}

 {% endblock %}
  </body>
</html>
