<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container" align="center">

  <h2 >{{question.ask_question}}</h2>
  <p >{{question.id}}</p>
  <span >author : {{question.author.username}}</span>
  <div >
    <h4 >Responses</h4>

    {% if not question.responses.all %}
      <p >No responses yet</p>
    {% else %}
      {% for response in question.get_responses %}
       <p >{{response.post_answer}}</p>
         <small>by {{response.user.username}}</small>
         <form class="" action="{% url 'like_post' response.pk %}" method="post">
           {% csrf_token %}
           <button type="submit" name="response_id" value="{{response.id}}" class="btn btn-primary btn-sm">Like</button> -- {{total_likes}}
         </form>
      {% endfor %}
    {% endif %}
  </div>
{% if user.is_authenticated %}
<form method="POST" >
{% csrf_token %}
<div >
  <label for="{{response_form.post_answer.id_for_label}}">Your answer:</label>
  {{response_form.post_answer}}
</div>
<input type="submit" value="Send" class="submit-button"/>
</form>
{% endif %}
</div>
{% endblock %}
